@tailwind base;
@tailwind components;
@tailwind utilities;

.font-open-sans {
  font-family: open-sans, sans-serif;
}

.font-noto-sans {
  font-family: noto-sans, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
